h1 {
  background-color: black;
  color: #48cae4;
  text-align: center;
}

.bgi {
  height: 25rem;
  width: 50rem;
  background-image: url(https://besthqwallpapers.com/Uploads/31-1-2020/120448/404-page-not-found-blue-logo-4k-blue-brickwall-404-page-not-found-logo-brands.jpg);
}
