<main>
  <div class="bg">
    <div id="type1">
      <div class="let1 leta">
        <span class="topt"></span>
        <h2 class="midt">Welcome</h2>
        <p class="bott"></p>
      </div>
      <div class="let2 leta">
        <span class="topt"></span>
        <h2 class="midt">to my</h2>
        <p class="bott"></p>
      </div>
      <div class="let3 leta">
        <span class="topt"></span>
        <h2 class="midt">website</h2>
        <p class="bott"></p>
      </div>
    </div>
  </div>
</main>






























<div class="aftxt1">
<div class="aftxt2">
  <h1 class="title1 leta a3b wip">
    Work in progress ...
  </h1>
  <br>
  <br>
  <p>
    Lorem ipsum dolor sit amet. Est earum eaque qui perspiciatis totam id
    saepe consectetur et placeat animi eum aliquid magnam 33 fugit voluptates
    ut consectetur voluptas? Et nisi placeat vel ipsa nisi non molestias officiis
    in animi iusto qui rerum voluptatibus rem neque quia aut autem ratione.

    Est sint itaque quo internos architecto aut asperiores fugit eum vitae
    voluptatem a exercitationem obcaecati vel cumque sequi. Aut pariatur vero
    ut exercitationem enim et perspiciatis dolor ea saepe provident eos Quis
    amet. Hic impedit cum itaque quia non autem nostrum et culpa consequatur
    eum necessitatibus expedita ut omnis nisi ad vero ullam. Vel dolorem
    reprehenderit aut ipsum galisum ab pariatur similique et internos eveniet.

    Ut quaerat voluptatibus qui error temporibus ut repellendus tenetur est
    amet incidunt est vero asperiores in ducimus enim. Aut cupiditate voluptas
    quo doloribus quisquam ex consequatur sint At tempora soluta sit facilis
    laborum in dignissimos omnis.
  </p>
</div>
</div>
<div class="aftxt1">
  <div class="aftxt2">
    <h1 class="title1 leta a3b aup">
      A unique project!
    </h1>
    <br>
    <br>
    <p>
      Lorem ipsum dolor sit amet. Est earum eaque qui perspiciatis totam id
      saepe consectetur et placeat animi eum aliquid magnam 33 fugit voluptates
      ut consectetur voluptas? Et nisi placeat vel ipsa nisi non molestias officiis
      in animi iusto qui rerum voluptatibus rem neque quia aut autem ratione.

      Est sint itaque quo internos architecto aut asperiores fugit eum vitae
      voluptatem a exercitationem obcaecati vel cumque sequi. Aut pariatur vero
      ut exercitationem enim et perspiciatis dolor ea saepe provident eos Quis
      amet. Hic impedit cum itaque quia non autem nostrum et culpa consequatur
      eum necessitatibus expedita ut omnis nisi ad vero ullam. Vel dolorem
      reprehenderit aut ipsum galisum ab pariatur similique et internos eveniet.

      Ut quaerat voluptatibus qui error temporibus ut repellendus tenetur est
      amet incidunt est vero asperiores in ducimus enim. Aut cupiditate voluptas
      quo doloribus quisquam ex consequatur sint At tempora soluta sit facilis
      laborum in dignissimos omnis.
    </p>
  </div>
  </div>
  <div class="aftxt1">
    <div class="aftxt2">
      <h1 class="title1 leta a3b mab">
        Minimalist is always better!
      </h1>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet. Est earum eaque qui perspiciatis totam id
        saepe consectetur et placeat animi eum aliquid magnam 33 fugit voluptates
        ut consectetur voluptas? Et nisi placeat vel ipsa nisi non molestias officiis
        in animi iusto qui rerum voluptatibus rem neque quia aut autem ratione.

        Est sint itaque quo internos architecto aut asperiores fugit eum vitae
        voluptatem a exercitationem obcaecati vel cumque sequi. Aut pariatur vero
        ut exercitationem enim et perspiciatis dolor ea saepe provident eos Quis
        amet. Hic impedit cum itaque quia non autem nostrum et culpa consequatur
        eum necessitatibus expedita ut omnis nisi ad vero ullam. Vel dolorem
        reprehenderit aut ipsum galisum ab pariatur similique et internos eveniet.

        Ut quaerat voluptatibus qui error temporibus ut repellendus tenetur est
        amet incidunt est vero asperiores in ducimus enim. Aut cupiditate voluptas
        quo doloribus quisquam ex consequatur sint At tempora soluta sit facilis
        laborum in dignissimos omnis.
      </p>
    </div>
    </div>
