* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.containerMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
  background-image: url(https://besthqwallpapers.com/Uploads/13-8-2021/175010/beach-aerial-view-waves-coast-evening.jpg);
  padding: 0%;
  z-index: 1;
  position: relative;
}

.containerMain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.500);
}

.containerFC {
  color: #48cae4;
  font-size: 1.375rem;
  border: 0.1875rem solid white;
  width: 50%;
  padding: 0.625rem;
  text-align: center;
  z-index: 10;
}

input {
  color: black;
  font-weight: 700;
  font-size: 1.375rem;
}

.containerTC {
  color: #48cae4;
  font-size: 1.375rem;
  border: 0.1875rem solid white;
  width: 50%;
  padding: 0.625rem;
  text-align: center;
  z-index: 10;
}

.calc {
  border: 0.1875rem solid white;
  width: 50%;
  margin-left: 25%;
}

.btn {
  border: none;
  background-color: black;
  color: #48cae4;
  height: 5.938rem;
  text-align: center;
  font-size: 1.5rem;
}

.textresult {
  width: 29.8rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
}

.reset {
  width: 22.5rem;
}

.line1 {
  width: 7.5rem;
}

.lastline {
  width: 15rem;
}
