.containerMain {
  background-color: black;
  background-image: url(https://besthqwallpapers.com/Temp/8-5-2021/sea-breeze-waves-summer-seascape-sea-besthqwallpapers.com-1920x1080.jpg);
  height: 67.5rem;
  width: 120rem;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.containerFC {
  color: white;
  border: 0.1875rem solid white;
  width: 50%;
  padding: 0.625rem;
  text-align: center;
  margin-left: 25%;
  background-image: url(https://besthqwallpapers.com/Temp/8-5-2021/ocean-4k-aerial-view-tropics-paradise-besthqwallpapers.com-1920x1080.jpg);
}

.containerTC {
  color: white;
  border: 0.1875rem solid white;
  width: 50%;
  padding: 0.625rem;
  text-align: center;
  margin-left: 25%;
  background-image: url(https://besthqwallpapers.com/Temp/8-5-2021/ocean-4k-aerial-view-tropics-paradise-besthqwallpapers.com-1920x1080.jpg);
}

.calc {
  border: 0.1875rem solid white;
  width: 50%;
  margin-left: 25%;
}

.btn {
  border: none;
  background-color: black;
  color: white;
  height: 5.938rem;
  text-align: center;
  font-size: 1.5rem;
}

.textresult {
  width: 29.8rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
}

.reset {
  width: 22.5rem;
}

.line1 {
  width: 7.5rem;
}

.lastline {
  width: 15rem;
}
