.navbar {
  text-align: right;
  height: 2rem;
  font-size: 1.375rem;
  background-color: white;
  z-index: 5;
}

.activePage {
  color: #48cae4;
  background-color: black;
  font-size: large;
  font-weight: bold;
  transition: all 1s;
  height: 2rem;
  font-size: 1.25rem;
}

a {
  padding: 10px;
  color: black;
}
