.navbar {
  text-align: right;
  height: 2rem;
  font-size: 1.375rem;
  background-color: gold;
}

.activePage {
  color: gold;
  background-color: black;
  font-size: large;
  font-weight: bold;
  transition: all 1s;
}

a {
  padding: 10px;
  color: black;
}

