.containerCookies{
  position: fixed;
  bottom: 0%;
  height: 12.5vh;
  width: 100vw;
  background-color: #48cae4;
  color: white;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  animation-name: acookies;
  animation-duration: 2s;
  z-index: 999;
}
/* The animation code */
@keyframes acookies {
  from {bottom: -25vh;}
  to {bottom: 0%;}
}

.btac {
  border: none;
  background-color: white;
  color: #48cae4;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.375rem;
}
